<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/fragments/header.html :: header}">
</head>
<body>
<div class="page-body">
    <nav th:insert="~{/fragments/navbar.html :: navbar}"></nav>
    <h3>Упражнения:</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDialog">
        Добавить
    </button>

    <table class="table" id="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Сложность</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exercise : ${exercises}">
            <td th:text="${exercise.title}">Дефолтный title</td>
            <td th:text="${exercise.description}">Дефолтный description</td>
            <td th:text="${exercise.complexity}">Дефолтный complexity</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="addDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <div class="form-group">
                        <label for="title">Название</label>
                        <input name="title" type="text" class="form-control" id="title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Описание</label>
                        <input name="description" type="text" class="form-control" id="description" required>
                    </div>
                    <div class="form-group">
                        <label for="complexity">Сложность</label>
                        <input name="complexity" type="number" class="form-control" id="complexity"
                               pattern="[1-9]{1}" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" onclick="save('/api/exercises')">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
